@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GENERAL */

body {
    font-family: "Kanit", sans-serif;
    background-color: #1e1d2b;
}

.container {
    padding: 2%;
}

p {
    margin: 0;
}

.mark {
    background-color: #d9d9d9;
    color: #1e1d2b!important;
}

.center {
    text-align: center;
}

.linkTexts {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem
}

.linkDownTexts {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.whiteText {
    color: white;
}

.font15 {
    font-size: 1.5rem;
}

.icons {
    text-decoration: none;
}

/* HEADER */

.menuC {
    overflow: auto;
    width: 100%;
}

.headerC {
    display: none
}

.menuHam, .navTarget, .closeMenu {
    display: none;
    cursor: pointer;
    order: 1;
}

.catalogueTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuHam{
    width: 300px;
    height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color:#2c2b47;
    overflow-y: visible;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
}

/* PRODUCT DETAILS */

.productDetails {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #d9d9d9;
    border-radius: 5px;
    border: 2px solid;
    padding: 10px;
}

.pictureColumns {
    margin: 20px;
    display: grid;
    grid-template-columns: 15% 80%;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    width: 90%;
    height: 80%;
}

.pictureColumns img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.vista1, .vista2, .vista3, .vista4 {
    border: 2px solid;
}

.pictureColumns > .vista1:hover ~ .pictureMain1_1 {
    background: url('./../images/camisa_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain1_1 {
    background: url('./../images/camisa_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain1_1 {
    background: url('./../images/camisa_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain1_1 {
    background: url('./../images/camisa_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain1_1 {
    background: url('./../images/camisa.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain2_1 {
    background: url('./../images/buso_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain2_1 {
    background: url('./../images/buso_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain2_1 {
    background: url('./../images/buso_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain2_1 {
    background: url('./../images/buso_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain2_1 {
    background: url('./../images/buso.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain3_1 {
    background: url('./../images/gorra_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain3_1 {
    background: url('./../images/gorra_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain3_1 {
    background: url('./../images/gorra_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain3_1 {
    background: url('./../images/gorra_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain3_1 {
    background: url('./../images/gorra.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain4_1 {
    background: url('./../images/gafas_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain4_1 {
    background: url('./../images/gafas_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain4_1 {
    background: url('./../images/gafas_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain4_1 {
    background: url('./../images/gafas_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain4_1 {
    background: url('./../images/gafas.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}


.pictureColumns > .vista1:hover ~ .pictureMain1_2 {
    background: url('./../images/mug_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain1_2 {
    background: url('./../images/mug_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain1_2 {
    background: url('./../images/mug_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain1_2 {
    background: url('./../images/mug_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain1_2 {
    background: url('./../images/mug.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain2_2 {
    background: url('./../images/termoM_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain2_2 {
    background: url('./../images/termoM_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain2_2 {
    background: url('./../images/termoM_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain2_2 {
    background: url('./../images/termoM_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain2_2 {
    background: url('./../images/termoM.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain3_2 {
    background: url('./../images/termoP_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain3_2 {
    background: url('./../images/termoP_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain3_2 {
    background: url('./../images/termoP_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain3_2 {
    background: url('./../images/termoP_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain3_2 {
    background: url('./../images/termoP.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain4_2 {
    background: url('./../images/termoC_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain4_2 {
    background: url('./../images/termoC_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain4_2 {
    background: url('./../images/termoC_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain4_2 {
    background: url('./../images/termoC_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain4_2 {
    background: url('./../images/termoC.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}


.pictureColumns > .vista1:hover ~ .pictureMain1_3 {
    background: url('./../images/empanada_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain1_3 {
    background: url('./../images/empanada_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain1_3 {
    background: url('./../images/empanada_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain1_3 {
    background: url('./../images/empanada_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain1_3 {
    background: url('./../images/empanada.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain2_3 {
    background: url('./../images/papas_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain2_3 {
    background: url('./../images/papas_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain2_3 {
    background: url('./../images/papas_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain2_3 {
    background: url('./../images/papas_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain2_3 {
    background: url('./../images/papas.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain3_3 {
    background: url('./../images/arepa_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain3_3 {
    background: url('./../images/arepa_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain3_3 {
    background: url('./../images/arepa_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain3_3 {
    background: url('./../images/arepa_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain3_3 {
    background: url('./../images/arepa.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain4_3 {
    background: url('./../images/cocosette_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain4_3 {
    background: url('./../images/cocosette_2.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain4_3 {
    background: url('./../images/cocosette_3.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain4_3 {
    background: url('./../images/cocosette_4.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain4_3 {
    background: url('./../images/cocosette.jpg') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}


.pictureColumns > .vista1:hover ~ .pictureMain1_4 {
    background: url('./../images/cafe_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain1_4 {
    background: url('./../images/cafe_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain1_4 {
    background: url('./../images/cafe_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain1_4 {
    background: url('./../images/cafe_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain1_4 {
    background: url('./../images/cafe.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain2_4 {
    background: url('./../images/gaseosa_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain2_4 {
    background: url('./../images/gaseosa_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain2_4 {
    background: url('./../images/gaseosa_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain2_4 {
    background: url('./../images/gaseosa_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain2_4 {
    background: url('./../images/gaseosa.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain3_4 {
    background: url('./../images/jugo_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain3_4 {
    background: url('./../images/jugo_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain3_4 {
    background: url('./../images/jugo_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain3_4 {
    background: url('./../images/jugo_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain3_4 {
    background: url('./../images/jugo.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain4_4 {
    background: url('./../images/speed_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain4_4 {
    background: url('./../images/speed_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain4_4 {
    background: url('./../images/speed_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain4_4 {
    background: url('./../images/speed_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain4_4 {
    background: url('./../images/speed.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}


.pictureColumns > .vista1:hover ~ .pictureMain1_5 {
    background: url('./../images/ping_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain1_5 {
    background: url('./../images/ping_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain1_5 {
    background: url('./../images/ping_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain1_5 {
    background: url('./../images/ping_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain1_5 {
    background: url('./../images/ping.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain2_5 {
    background: url('./../images/guantes_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain2_5 {
    background: url('./../images/guantes_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain2_5 {
    background: url('./../images/guantes_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain2_5 {
    background: url('./../images/guantes_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain2_5 {
    background: url('./../images/guantes.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain3_5 {
    background: url('./../images/base_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain3_5 {
    background: url('./../images/base_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain3_5 {
    background: url('./../images/base_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain3_5 {
    background: url('./../images/base_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain3_5 {
    background: url('./../images/base.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.pictureColumns > .vista1:hover ~ .pictureMain4_5 {
    background: url('./../images/bad_1.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista2:hover ~ .pictureMain4_5 {
    background: url('./../images/bad_2.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista3:hover ~ .pictureMain4_5 {
    background: url('./../images/bad_3.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureColumns > .vista4:hover ~ .pictureMain4_5 {
    background: url('./../images/bad_4.png') no-repeat center;
    background-size: cover;
    width: 100%;
}

.pictureMain4_5 {
    background: url('./../images/bad.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding: 0;
    border: 2px solid;
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 4;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 25px 10px;
}

.buyButton {
    background-color: #3f3e53;
    width: 100px;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
}

/* CONTACT */

.contact {
    background-color: #2c2b47;
    padding: 5%;
}

.listContact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    padding: 1%;
}

.titleContact {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    font-size: 1.5rem;
}

.hrContact {
    width: 30%; 
    border: 1px solid #d9d9d9;
}

.links {
    padding: 4%;
}

i:hover {
    transform: scale(1.1);
}

/* RESPONSIVE */

@media (max-width :840px) {
    .menuC {
        display: none;
    }

    .headerC {
        display: grid;
    }

    .down {
        grid-template-columns: 100%;
    }
    
    .navTarget {
        display: flex;
        justify-content: start;
        align-items: center;
        color: #d9d9d9;
        font-size: 2rem; 
        text-decoration: none;
    }
    
    .menuHam {
        position: fixed;
        width: 80%;
        background: #2c2b47;
        left: 20px;
        top: 20%;
        display: flex;
        flex-direction: column;
        padding: 5px 10px 25px 25px;
        z-index: 1;        
        clip-path: circle(0% at top left);
        transition: clip-path 0.4s;
        overflow: auto;
    }

    .menuHam:target{
        clip-path: circle(150% at top left);
    }

    .menuHam ul {
        display: block;
        padding: 15px;
    }

    .closeMenu {
        display: flex;
        color: #d9d9d9;
        font-size: 3rem; 
        text-decoration: none;
    }

    .closeMenu::after{
        position: absolute;
        top: 0px;
        left: 0px; 
    }
}